td, th {
  border: 1px solid;
  }
  
body{
  background-color: lightgrey;
}

h1{
  font-family:"Poppins",Arial,sans-serif;
  font-size:200%;
}

h2{
  font-family:"Poppins",Arial,sans-serif;
  font-size:150%;
  font-style: italic;
}

.planets{
  margin: 0 auto;
}

#mercury{
  border: 3px solid red;
  width: 100px;
  padding: 5px;
  margin: 10px 10px 10px 10px;
}
#venus{
  border: 3px solid red;
  width: 100px;
  padding: 5px;
  margin: 10px 10px 10px 10px;
}
#earth{
  border: 3px solid red;
  width: 100px;
  padding: 5px;
  margin: 10px 10px 10px 10px;
}
#mars{
  border: 3px solid red;
  width: 100px;
  padding: 5px;
  margin: 10px 10px 10px 10px;
}