td, th {
  border: 1px solid;
  }
  
h1{
  font-family:"Poppins",Arial,sans-serif;
  font-size:20px;
}

h2{
  font-family:"Poppins",Arial,sans-serif;
  font-size:150%;
  font-style: italic;
}

.mercury{
  border: 3px solid red;
  width: 50px;
  padding: 5px;
  margin: 10px 0 10px 20px;
}